@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(0, 0, 0);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.input-tarefa{
  font-size: 20px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(90, 90, 90);
}
.btn-tarefa{
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: crimson;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
button{
  width: 80px;
  height: 35px;
  margin-left: 10px;
  color: #fff;
  margin-bottom: 20px;
  background-color: rgb(41, 41, 41);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}
